<template>
    <div class="datagrid-foo" id="datagrid-foo" v-on:scroll="scrollTable">
        <table cellspacing="0px">
            <tr>
                <th class="fixed-left fixed-top ontop noborderbottom"></th>
                <th v-for="(val,j) in vals" :key="j" class="fixed-top noborderbottom" bordertop>Instancia {{j+1}} <button v-on:click="delInstance(j)" class="float-right">-</button></th>
                <th class="fixed-top noborderbottom"><button v-on:click="addInstance">+</button></th>
            </tr>
            
            <tr>
                <th class="fixed-left">Imagen</th>              
                <td v-for="(val,j) in vals" :key="j">
                    <div class="image-container" v-show="vals[j].blob!=null">
                        <img :src="vals[j].blob" >
                    </div>
                    <input type="file" :id="'file_'+j" v-on:change="changeFile(j,$event)" style="display:none"/>
                    <input type="type" v-on:click="uploadFile('file_'+j)" disabled="disabled" v-if="val.file" :id="'filename_'+j" :value="val.file" class="upload-control"/>
                    <button v-on:click="uploadFile('file_'+j)">Subir</button>
                </td> 
                <th></th>
            </tr>

            <tr v-for="(prop, i) in properties" :key="i">
                <th class="fixed-left propname">{{ prop.name }} <button class="float-right" v-on:click="delProperty(i)" v-if="!prop.fixed">-</button></th>
                <td v-for="(val,j) in vals" :key="j">                    
                    <input type="text" v-model="val[prop.name]" v-on:change ="changeValue" class="input-text"/>
                </td>
                <th></th>
            </tr>
            <tr>
                <th class="fixed-left"><input type="text" v-model="newprop" class="with-button "/> <button v-on:click="addProperty" class="float-right">+</button></th>
                <th></th>
                <th v-for="(val,j) in vals" :key="j"></th>
            </tr>
        </table>
    </div>
</template>
<script>
import Vue from "vue"

function getBase64(file,callback) {
   var reader = new FileReader();
   reader.readAsDataURL(file);
   reader.onload = function () {
        callback(reader.result);
   };
   reader.onerror = function (error) {
        console.log('Error: ', error);
   };
}

export default {
    name: 'datagrid-foo',
    props: ['props','values'],
    data() {
        return {
            vals: this.values,
            properties: this.props,
            newprop:null
        } 
    },
    created: function() {
    },
    mounted:function(){
       
    },
    watch: {
    },
    computed: { 
    },
    methods:{
        showRender(){

        },
        changeValue(){
            console.log(this.vals);
            this.$emit("input", this.vals);
        },
        changeFile(i,e){
            let self = this;
            self.vals[i].file = e.target.files[0].name;
            getBase64(e.target.files[0], function(blob){
                self.$set(self.vals[i],'blob', blob);
            });
            this.changeValue();
        },
        uploadFile(id){
            let inputfile= document.getElementById(id);
            inputfile.click();
        },
        addProperty(){
            if(this.newprop){
                this.properties.push({name:this.newprop,fixed:false});
                this.newprop="";
                this.adjustHeadings();
            }
        },
        delProperty(propnum){
            for(let i=0; i< this.vals.length; i++){
                this.vals[i][this.properties[propnum]] =null;
            }
            this.properties.splice(propnum,1);
            this.adjustHeadings();
        },
        addInstance(){
            this.vals.push({id:"0"});
            this.adjustHeadings();
        },
        delInstance(i){
            this.vals.splice(i,1);
            this.adjustHeadings();
        },
        scrollTable(e){
            this.adjustHeadings();
        },
        adjustHeadings(){
            let doc = document.getElementById('datagrid-foo');
            let left  = (window.pageXOffset || doc.scrollLeft) - (doc.clientLeft || 0);
            let top = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0);
            if(left<0) left=0;
            if(top<0) top=0;
            //Lefts
            var elems = document.getElementsByClassName("fixed-left");
            for(let i=0; i < elems.length; i++){
                elems[i].style.left = left;
            }
            this.$nextTick(() => {
                var elems = document.getElementsByClassName("fixed-left");
                for(let i=0; i < elems.length; i++){
                    elems[i].style.left = left;
                }
            });

            //Tops
            var elems = document.getElementsByClassName("fixed-top");
            for(let i=0; i < elems.length; i++){
                elems[i].style.top = top;
            }
            this.$nextTick(() => {
                var elems = document.getElementsByClassName("fixed-top");
                for(let i=0; i < elems.length; i++){
                    elems[i].style.top = top;
                }
            });

        }
    },
}
</script>
<style>
.datagrid-foo{
    position: relative;
    width: 50%;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
}
.datagrid-foo input.with-button{
    width: calc(100% - 30px);
}
.datagrid-foo input{
    border: none;
    width: 100%;
}
.datagrid-foo table{
  background-color:#ccc;
}
.datagrid-foo table th, .datagrid-foo table td{
    border-right: 1px solid #ccc;   
    border-bottom: 1px solid #ccc;
    
}
.datagrid-foo table th{
    background-color: #eee;
    padding: 5px;
}
.datagrid-foo table th.fixed-left{
    position: relative;
    left:0px;
     min-width: 200px;
}
.datagrid-foo table th.fixed-top{
    position: relative;
    top:0px;
}
.datagrid-foo table td {
    background-color: white;  
    text-align: center;
    min-width: 150px;
}
.datagrid-foo .image-container{
    overflow:auto; 
    width:200px; 
    height:150px
}
.upload-control{
    width: 100% !important;
    border: none;
    background-color: white;
}
.float-right{
    float: right;
}
.min-width-120{
    min-width: 120px;
}
.ontop{
    z-index: 999;
}
.noborderbottom{
    border-bottom: none;
}
.input-text{
    text-align: center;
}
/*
.propname button{
    display: none;
}
.propname:hover button{
    display: block;
}*/

</style>